<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Complaint Management</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Type Complaint</th>
            <th>Date Complaint</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let complaint of complaints">
            <td>{{ complaint.description }}</td>
            <td>{{ complaint.typeRec }}</td>
            <td>{{ complaint.dateComplaint }}</td>
            <td>{{ complaint.name }}</td>
            <td>{{ complaint.lastname }}</td>
            <td>{{ complaint.email }}</td>
            <td>
             
                <span [ngClass]="{
                  'btn btn-warning': complaint.status === 'IN_PROGRESS',
                  'btn btn-danger': complaint.status === 'DROPPED',
                  'btn btn-success': complaint.status === 'TREATED',
                }">
                  {{ complaint.status === 'IN_PROGRESS' ? 'En cours' : 
                     complaint.status === 'TREATED' ? 'Traité' : 
                     complaint.status === 'DROPPED' ? 'Abandonné' : 'Autre' }}
                </span>
            
              
            </td>
            
            <td>
              <button class="btn btn-danger" (click)="deleteComplaint(complaint.idComp)">Delete</button>
            </td>
            <td>
              <button class="btn btn-success" (click)="openADDDialog(complaint.idComp)">answer</button>
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  ACTION
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>


